html{
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
.cabecera{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    text-align: end;
    font-size: 13px;
    color:black;
}
.gmail{
    text-decoration: none;
    margin-right: 1.5%;
    margin-top: 15px;
}
.Imagenes{
    text-decoration: none;
    margin-right: 1.5%;
    margin-top: 15px;
}
#puntos{
    margin-right: 1.5%;
    margin-top: 15px;
}
#centro{
    margin-top: 15vh;
    display:flex;
    flex-direction:column;
    align-items: center;
}
#buscar{
    width: 550px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid rgb(240, 240, 240);
}
#botones{
    margin-top: 30px;
    display:flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: space-evenly;
}
#buscarcongoogle{
    margin-right: 2%;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 0.1px solid transparent;
    background-color: rgb(243, 243, 243);
}
#mesientoconsuerte{
    margin-left: 2%;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 0.1px solid transparent;
    background-color: rgb(243, 243, 243);
}
#ofrecidocontenido{
    display:flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 20px;
    
}
#ofrecido{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}
#English{
    margin-left: 5px;
    color: blue;
}
#pies{
    width: 99%;
    position: absolute; bottom: 0%; 
}
#pie1{
    width: 100%;
    height: 5vh;
    background-color: rgb(243, 243, 243);
    display:flex;
    align-items: center;
    font-size: 14px;
    color: gray;
    padding-left: 2%;
}
#pie2{
    width: 100%;
    height: 5vh;
    background-color: rgb(243, 243, 243);
    border-top: 1px solid lightgray;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    color: gray;
}
#piei{
    width: 50%;
    display:flex;
    justify-content: space-around;
}
#pied{
    width: 20%;
    display:flex;
    justify-content: space-around;
}
a:visited{
    color: gray;
    text-decoration: none;
}
a:link{
    color: gray;
    text-decoration: none;
}
a:focus{
    border-bottom: 1px solid gray;
}
a:hover{
    border-bottom: 1px solid gray;
}
#buscar:hover{
    box-shadow: 0px 0px 7px 0px rgb(196, 196, 196);
}
#buscar:focus{
    outline:none;
}
#buscarcongoogle:hover{
    box-shadow: 0px 0px 7px 0px rgba(196, 196, 196);
}
#mesientoconsuerte:hover{
    box-shadow: 0px 0px 7px 0px rgb(196, 196, 196);
}

